### Sudan Tiwari, Experiment No 1

### String in Python

In [4]:
a = 'moon'
print (a)
b = "is"
print (b)
c= '''Beautiful'''
print (c)

moon
is
Beautiful

### Lists in Python

In [9]:
List = [1, "a" , "string" , 1+2,0.4,"hi"]
print (List)
#Adding an element in the list
List.append(6) 
print (L)
#Deleting last element from a list
List.pop()
List.pop()
print (List)
#Displaying Second element of the list
print (List[4])

[1, 'a', 'string', 3, 0.4, 'hi']
[1, 'a', 'string', 3, 'hi', 2.4]
[1, 'a', 'string', 3, 0.4]
0.4

### Tuples in Python

In [13]:
tuple = (2345, "a", "string", 6-2, 0.7, "goodmorning" "hello")
print(tuple)
print(tuple[1])

(2345, 'a', 'string', 4, 0.7, 'goodmorninghello')
a

### Dictionaries in Python

In [14]:
d = {1: 'Lorem', 2: 'Ipsum', 3: 'Dolerum'}
print(d)

{1: 'Lorem', 2: 'Ipsum', 3: 'Dolerum'}

### Create a Dictionary

In [21]:
# create dictionary using { }
d1 = {1: 'Game', 2: 'of', 3: 'Thrones'}
print(d1)

# create dictionary using dict() constructor
d2 = dict(a = "House", b = "of", c = "Cards")
print(d2)

{1: 'Game', 2: 'of', 3: 'Thrones'}
{'a': 'House', 'b': 'of', 'c': 'Cards'}

### Accessing Dictionary Items

In [23]:
d = { "name": "Alice", 1: "Python", (1, 2): [1,2,4] }

# Access using key
print(d["name"])

# Access using get()
print(d.get("name"))

Alice
Alice

### Adding and Updating Dictionary Items

In [24]:
d = {1: 'Game', 2: 'of', 3: 'Thrones'}

# Adding a new key-value pair
d["age"] = 22

# Updating an existing value
d[1] = "Python dict"

print(d)

{1: 'Python dict', 2: 'of', 3: 'Thrones', 'age': 22}

### Clear a Dictionary

In [15]:
my_dict = {'1': 'Geeks', '2': 'For', '3': 'Geeks'}
my_dict.clear()
print(my_dict)

{}

### Dictionary update() Method

In [16]:
d1 = {'Name': 'Ram', 'Age': '19', 'Country': 'India'}
d2 = {'Name': 'Neha', 'Age': '22'}

d1.update(d2)
print(d1)

{'Name': 'Neha', 'Age': '22', 'Country': 'India'}

### Dictionary pop() Method

In [17]:
d = {'Name': 'Ram', 'Age': '19', 'Country': 'India'}
d.pop('Age')
print(d)

{'Name': 'Ram', 'Country': 'India'}

### Dictionary values() Method

In [19]:
d = {'Name': 'Ram', 'Age': '19', 'Country': 'India'}
print(list(d.values()))

['Ram', '19', 'India']

### Dictionary keys() Method

In [20]:
d = {'Name': 'Ram', 'Age': '19', 'Country': 'India'}
print(list(d.keys()))

['Name', 'Age', 'Country']